#header{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.top-section{
    padding-top: 9pc;
}
.name{
    padding-left: 5.6pc;
}
.headding{
    text-align: center;
    font-weight: bold;
}
.body-bg{
    background: rgb(236, 244, 247);
}
.round{
    border-radius: 50%;
}
.about{
    background: #232e36;
    color: white;
}
.c-head{
    text-align: center;
    padding-top: 3pc;
    padding-bottom: 1pc;
    color: white;
    font-weight: bolder;
}
.footer{
    background: #232e36;
    text-align: center;
    
}
.logo-style{
    font-size: 25px;
    padding-top: 3pc;
    padding-bottom: 2pc;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(236, 244, 247);
    padding-left: 5px;
}
a.hover{
    color:rgb(236, 244, 247) ;
}
.copyright{
    text-align: center;
    font-weight: bolder;
    font-size: inherit;
    color: rgb(236, 244, 247);
    padding-bottom: 3pc;
}
